* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav {
  background-color: white;
  padding: 10px 20px;
} */

h1 {
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid white;
  padding: 10px 15px;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 2;
}

p {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

button {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  border: 3px;
  border-radius: 2px;
  cursor: pointer;
}

aside {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  position: relative;
  top: -120px;
  left: 80px;
  color: white;
}

body {
  width: 375px;
  flex-direction: column;
  align-items: center;
  background-image: url(./resources/background.png);
  background-size: 130%;
  background-attachment: fixed;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40px;
}

.quizcard {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 30px;
  margin: 70px;
  height: 220px;
  width: 360px;
  background-color: transparent;
}

.bookmark_transparent {
  position: relative;
  height: 40px;
  top: 130px;
  right: -140px;
}

.home {
  width: 35px;
  height: 35px;
}

.bookmark {
  width: 35px;
  height: 35px;
}

.profile {
  width: 35px;
  height: 35px;
}
