* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav {
  background-color: white;
  padding: 10px 20px;
} */


h1 {
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid white;
  padding: 10px 20px;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  
}

p {
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
  background-image: url(./resources/background.png);
  background-size: 160%;
  background-attachment: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
  background-color: white;
  text-align: center;
  width: 100%
  position: fixed;
  bottom: 0;
}

.quizcard {
flex-direction: column;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  margin: 60px;
  width: auto;
}


.home {
  width: 40px;
  height: auto;
}

.bookmark {
  width: 40px;
  height: auto;
}

.profile {
  width: 40px;
  height: auto;
}
