button {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  border: 3px;
  border-radius: 2px;
  cursor: pointer;
}
