p {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.hidden {
  display: none;
}

.quiz-card {
  position: relative;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px;
  margin: 70px;
  height: 220px;
  width: 360px;
  background-color: transparent;
}

.quiz-card__tags {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  position: relative;
  top: -120px;
  left: 80px;
  color: white;
}

.quiz-card__bookmark {
  position: absolute;
  height: 40px;
  top: 200px;
  right: 20px;
  cur
}

.hidden {
  display: none;
  margin-top: 20px;
}
