form {
  padding-top: 100px;
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
}

form fieldset {
  border: 3px solid white;
  padding: 3px;
  color: white;
  border-radius: 10px;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

form input {
  height: 50px;
  border-radius: 6px;
  border: 3px solid white;
}

form textarea {
  height: 50px;
  border-radius: 6px;
  border: 3px solid white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form button {
  gap: 80px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
  height: 30px;
  width: 80px;
  border-radius: 9px;
}

.cardContainer {
  position: relative;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px;
  margin: 70px;
  height: 220px;
  width: 360px;
  background-color: transparent;
  z-index: -1;
}

.cardButton {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  border: 3px;
  border-radius: 2px;
  cursor: pointer;
}

.question {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.answer {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  position: relative;
  top: 70px;
  text-align: center;
}

.tag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  position: relative;
  top: 110px;
  left: -120px;
  color: white;
}
