nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40px;
}

.home {
  width: 35px;
  height: 35px;
}

.bookmark {
  width: 35px;
  height: 35px;
}

.profile {
  width: 35px;
  height: 35px;
}
