p {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

aside {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  position: relative;
  top: -120px;
  left: 80px;
  color: white;
}
